* {
	font-family:tahoma;
	font-size:1em;
	padding:0; margin:0
}

body, html {
	height:100%;
}

h1 {
	font-size:24px;
}

header { 
	width:100%;
	height:60px;
	float:left;
	position:relative
}

header h1 { 
	margin:16px;
	font-size:24px;
}

header img {
	position:absolute;
	top:0px;
	right:20px;
}

.profile {
	width:56%;
	float:left;
	margin:2%;
	position:relative;
	background-color:#f0f0f0;
}

.profile p span {
	width:80px;
	margin-right:10px;
	display:inline-block;
	color:#666666;
}

.profile-container {
	margin:5px 10px 15px;
}

.profile ul {
	list-style-type:none;
}

.profile ul li {
	display:inline;
}

.profile img {
	float:left;
	margin:0 10px;
}

.profile input[type='text'] {
	position:absolute;
	bottom:0;
	left:0;
	width:92%;
	margin:2%;
	padding:2%;
	height:20px;
	outline:none;
}

.chat { 
	width:36%;
	margin:2% 2% 2% 1%;
	float:left;
	position:relative;
	background-color: #d0e0f6;
}

.chat #content { 
	height:240px; 
}

.profile, .chat {
	height:360px;
}

.profile, .chat, #chat-input {
	border:1px solid #8abccc;
}

.profile > div, .chat > div {
	padding:20px;
}

section h2, #status { 
	height:20px;
	color:#ffffff;
	padding:10px;
}

footer { 
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0; 
}

footer ul {
	width:100%;
	list-style-type:none;
}

footer ul > * {
	float:left;
	padding:20px;
}

footer ul li.copyright {
	float:right;
}

.messages {
	overflow : scroll; 
}

.messages p {
	border-radius:12px;
	background-color:white;
	display:inline-block;
	padding:14px;
	border:1px solid #8abccc;
	margin:12px 0;
}

/*CSS3 rounded corners*/
.profile, .chat, #chat-input {
	border-radius:20px;
}

/*CSS3 gradients*/

section h2  {
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	background: -webkit-linear-gradient(top, #0d83be, #1296c4);
}

#status {
	display:block;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background: -webkit-linear-gradient(bottom, #0d83be, #1296c4);
}

footer { 
	background: -webkit-linear-gradient(top, #0d83be, #1296c4); 
}

header { 
	background: -webkit-linear-gradient(top, #282c2f, #23262b); 
}

/*style header text*/
footer *, header * {
	background:transparent;
	color:#ffffff
}

/*media queries*/
@media all and (max-width: 400px) {
	.chat { width:96%;clear:left; }
	.profile { width:96%;height:420px; }

	footer {position:static;float:left;}
}